/* Header */
.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-title {
  margin: 0;
}

/* Buscador */
.dashboard-search {
  position: relative;
}

.dashboard-search .p-inputtext {
  padding-left: 1.8rem; /* espacio real para la lupa */
  margin-left: -0.5rem; /* espacio visual para la lupa */
}

/* Diferencias */
.diff-neutral {
  font-weight: 600;
  color: #6c757d;
}

.diff-positive {
  font-weight: 600;
  /* color: #198754; */
  color: #dc3545;
}

.diff-negative {
  font-weight: 600;
  color: #198754;
  /* color: #dc3545; */
}

/* Alineación numérica */
.text-right {
  text-align: right;
}

/* Fila anulada */
.row-anulado {
  opacity: 0.55;
  background-color: rgba(255, 255, 255, 0.04);
}

/* Texto tachado */
.row-anulado td {
  text-decoration: line-through;
}

/* Badge de estado */
.estado-anulado {
  color: #f87171; /* rojo suave */
  font-weight: 600;
}
