.overlay-mask-spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  color: white;
  font-size: 2rem;
  gap: 1rem;  
}

.overlay-spinner {
  font-size: 8rem;
  color: #ffffff;
}