#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* 2. Contenedor principal corregido */
.custom-upload-container {
    background-color: rgba(255, 255, 255, 0.03) !important;
    border: 2px dashed #4b5563 !important;
    border-radius: 12px;
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

/* Reduce el tamaño de los ítems para que quepan más en la fila */
.p-menubar .p-menuitem-link {
    padding: 0.5rem 0.7rem !important;
}

.p-menubar .p-menuitem-text {
    font-size: 0.85rem;
    font-weight: 500;
}

/* Color de fondo oscuro para que haga juego con tus tablas */
.p-menubar {
    background: #1e293b !important; /* Un azul muy oscuro */
    border: none !important;
    border-radius: 0 !important;
    border-bottom: 1px solid #334155 !important;
}

.p-menubar .p-menuitem-link .p-menuitem-text,
.p-menubar .p-menuitem-link .p-menuitem-icon {
    color: #f8fafc !important;
}

@media screen and (min-width: 768px) {
    .p-menubar-button {
        display: none !important; /* Esconde el botón de hamburguesa en tablets/desktop */
    }
    .p-menubar-root-list {
        display: flex !important; /* Fuerza a que la lista sea horizontal */
        position: static !important;
        background: none !important;
        box-shadow: none !important;
    }
}