/* src/index.css */
* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  background-color: #161616;
  min-height: 100vh;
}

.p-datatable-header {
  padding: 1.25rem !important;
  background-color: #1e293b !important;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.p-column-title {
  font-weight: 600;
  color: #94a3b8;
}